.navbar {
    position: fixed; /* FIXA no topo */
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #fff;
    z-index: 9999; /* SUPERIOR a tudo */
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  

.navbar ul {
    display: flex;
    gap: 20px;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.navbar li a {
    color: #333;
    cursor: pointer;
    font-size: 20px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar li a:hover {
    background-color: #116A2F;
    color: #FFF;
}


.menu-toggle {
    font-size: 28px;
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    margin-right: 40px;
  }
  
  .box-navbar-content {
    display: flex;
  }

.menu-toggle {
    transition: transform 0.3s ease;
    font-size: 28px;
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    z-index: 10001; /* até acima do menu */
}

.menu-toggle:hover {
    transform: scale(1.1);
}


  

  
@media (max-width: 1024px) {

    .navbar {
      padding: 0 10px;
      height: 60px;
    }
    .box-navbar-content {
      display: none;
      position: absolute;
      top: 60px;
      right: 20px;
      background: white;
      padding: 20px;
      border-radius: 8px;
      flex-direction: column;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      z-index: 10000;
    }
  
    .box-navbar-content.ativo {
      display: flex;
    }
  
    .box-navbar-content ul {
      flex-direction: column;
      gap: 10px;
    }
  
    .box-logo img {
      width: 70px;
      height: auto;
    }
  
    .menu-toggle {
      display: block;
    }
  }
  