.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #FFF;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar ul {
    display: flex;
    gap: 20px;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.navbar li a {
    color: #333;
    font-size: 20px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar li a:hover {
    background-color: #116A2F;
    color: #FFF;
}